#exercise-container{
    height: 85vh;
    overflow: scroll;
}

#upperbtn-lowerbtn-col, #upperbtn-col, #lowerbtn-col{
    display:flex;
    padding:5px;
    justify-content: center;
}

#exercise-col{
    padding-top: 10px;
    padding-bottom: 10px;
}

#each-exercise-div{
    background-color: rgb(45, 45, 45);
    transition-duration: 1s;
    color:rgb(181, 181, 181);
    font-size: 22px;
}

#each-exercise-div:hover{
    cursor: pointer;
    color:rgb(254, 254, 254);
    font-size: 35px;
    transition-duration: 1s;
}

#each-exercise-div:active{
    font-size: 20px;
    transition-duration: 1s;
}

