.modal{
    display: flex !important;
    justify-content: center;
    padding: 20px;
    
}

.modal-content{
    background-color: transparent;
}

.modal-header{
    color: white;
    background-color: rgb(45, 45, 45);
}

.modal-title{
    font-size: 35px;
}

.close{
    color: white;
    text-shadow: none;
    opacity: 1;
    font-size: 40px;
}

hr{
    background-color: white;
}

.modal-body{
    color: white;
    background-color: rgb(62, 62, 62);
    margin-bottom: 20px;
}

.modal-footer{
    color: white;
    background-color: rgb(45, 45, 45);

}