#home-container{
    margin-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100vw;
    text-align: center;
    color: rgb(108, 108, 108);
}

#spinner{
    display:flex;
    height: 100vh;
    color: rgb(45, 45, 45);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:20vh;
}